﻿<h4 id="msg">加载中...</h4><script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script><script>
	String.prototype.replaceAll = function(s1, s2) {
        return this.replace(new RegExp(s1, "gm"), s2)
    };
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1]
            }
        }
        return (false)
    }
    var data = getQueryVariable("d");
    if (data) {
        var ojbk = false;
        try {
            data = data.replaceAll("%2B", "+").replaceAll("%3D", "=");
            var d = atob(data);
            var ds = d.split("|");
            var ffname = ds[0];
            var daili = ds[1];
            var longurl = ds[2];
            var gotoDomain = function() {
                if (!ojbk) {
                    $.ajax({
                        type: "get",
                        async: false,
                        url: "https://php.asfsafa1.cn/api/auth/domain?daili=" + daili + "&ffname=" + ffname,
                        dataType: "jsonp",
                        success: function(domain) {
                            if (!ojbk) {
                                ojbk = true;
                                var gotoUrl = "http://" + domain + longurl;
                                window.location.replace(gotoUrl)
                            }
                        },
                        error: function() {
                            if (!ojbk) {
                                ojbk = true;
                                $("#msg").html("获取最新域名失败")
                            }
                        }
                    })
                }
            };
            gotoDomain();
            setInterval(gotoDomain, 2000)
        } catch(err) {
            ojbk = true;
            $("#msg").html("发生错误了");
            alert(err)
        }
    } else {
        $("#msg").html("无效的数据")
    };
</script>
